.App {
  text-align: center;
  margin-top: 80px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F0F5F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #03131B;
}

.App-link {
  color: #057E6A;
}

.cardborder {
  display: block;
  height: 160px;
  background: white;
  box-shadow: 3px 4px 4px 3px #DEE1E3;
  margin: 40px;
  width: 90%;
}

.navbar {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-image: linear-gradient(#04CF94, #73FAD5);
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  z-index: 1;
  padding: 30px
}

.title {
  font-size: 1em;
  display: block;
  float: left;
  width: 50%;

}

.navbar a {
  font-size: 0.7em;
  display: block;
  float: left;
  width: 50%;
}

a {
  color: #057E6A;
}

a:hover {
  color: #1FB9A9;
}

.commentbox {
  display: block;
  position: relative;
  width: 30%;
  float: left;
  margin: auto;
  height: 100%;
}

.comments {
  line-height: 40px;
  margin-top: 25%;
  font-size: 1em;
}

.leftbox {
  display: block;
  width: 70%;
  float: left;
  height: 100%;
  margin: auto;
  padding-top: 10px;
}

.itemtitle, .points, .user, .time_ago {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
